.search--container{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    position: absolute;
    width: 1079px;
    height: 50px;
    background: #2A3037;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 10px;

}

